<link rel="stylesheet" href="/CSS/nav.css">
<header>
    <a href="/home"><img src="https://res.cloudinary.com/dvapewbfh/image/upload/v1706085476/images/l8nhltrcyalz6o5uuant.png" id="logo"></a>
    <nav>
        <a href="#main">Main</a>
        <a href="#male">Male</a>
        <a href="#female">Female</a>
        <a href="#create">Create</a>
        <button id="menu">
            <span></span>
            <span></span>
        </button>
    </nav>
</header>