<header>
    <a href="/home"><img src="https://res.cloudinary.com/dvapewbfh/image/upload/v1706085476/images/l8nhltrcyalz6o5uuant.png" id="logo"></a>
    <nav>
        <a href="#main">Main</a>
        <a href="#profile">Male</a>
        <a href="#social">Female</a>
        <a href="#about">Create</a>
        <button id="menu">
            <span></span>
            <span></span>
        </button>
    </nav>
</header>